@import "tailwindcss";

@layer base {
  :root {
    --pertamina-red: #ED1C24;
    --pertamina-green: #00A651;
    --pertamina-white: #FFFFFF;
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  }

  code, pre, .font-mono, .tabular-nums {
    font-family: 'JetBrains Mono', monospace;
    font-variant-numeric: tabular-nums;
  }
}

/* Custom industrial scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0F17;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
